.form-container {
  padding: 40px;
  text-align: center;
}

.form-container h1 {
  color: #2e7d32;
  margin-bottom: 25px;
}

.form-box {
  width: 380px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 14px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.1);
  text-align: left;
}

.form-box label {
  display: block;
  margin-bottom: 6px;
  color: #1b5e20;
  font-weight: bold;
}

.form-box input {
  width: 100%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #bbb;
}

.form-box button {
  width: 100%;
  padding: 12px;
  background: #2e7d32;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: 0.2s;
}

.form-box button:hover {
  background: #1b5e20;
}
