.btn {
  padding: 12px 22px;
  background: #388e3c;
  color: white;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}

.btn:hover {
  background: #2e7d32;
}
